* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-grayB);
}

:root {
    --color-primary: #57ac4c;
    --color-primaryB: #57ac4cd0;
    --color-black: #000;
    --color-white: #fff;
    --color-grayB: #F5F5F5;
    --color-grayB2: #e9e9e9a1;
    --color-grayD: #8a8a8a;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 7rem auto;
    background: var(--color-white);
    box-shadow: 0px 0px 30px -25px var(--color-black);
    height: 32rem;
    width: 80%;
    border-radius: 2rem;
    padding: 3rem 2rem;
    gap: 1.3rem;
    min-width: 20rem;
}

input {
    text-align: center;
    font-style: italic;
    border: 0.1px solid var(--color-grayB2);
    border-bottom: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    width: 6rem;
    height: 2rem;

}

input:focus {
    border-bottom: 2px solid var(--color-primary);
    box-shadow: 0 0 0 0;
    outline: 0;
}

button {
    border: none;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 2rem;
    margin: 0 auto;
    height: 2.2rem;
    width: 16rem;
    font-size: 1.25rem;
}

button:hover {
    cursor: pointer;
    background-color: var(--color-primaryB);
}

label {
    font-size: 0.8rem;
}

#span-rst {
    margin: 0 auto 1rem;
    font-size: 1.5rem;
    width: 100%;

}

/* DIMENSIONAMENTO */

@media screen and (min-width: 85rem) {
    .card {
        padding: 5rem 6rem;
        gap: 1.5rem;
    }

    label {
        font-size: 1rem;
    }

    #span-rst {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 85rem) {
    .card {
        flex-direction: row;
        max-width: 68rem;
        padding: 2rem 6rem;
        height: 16rem;
    }

    input {
        height: 3rem;
        font-size: 1.5rem;
    }

}